@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-5: #637c54;
}

html {
  scroll-behavior: smooth;
}

/* Animation text grow */

.grow {
  opacity: 0;
  transform: translateY(-50%);
  transform-origin: top;
  animation: growText 500ms ease-in-out 100ms 1 forwards;
}

@keyframes growText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Carousel arrows */

#left-arrow,
#right-arrow {
  z-index: 20;
  cursor: pointer;
  position: absolute;
  bottom: 45%;
}

#left-arrow {
  transform: rotate(180deg);
  left: -3rem;
}

#right-arrow {
  right: -3rem;
}

@media (max-width: 767px) {
  #left-arrow,
  #right-arrow {
    display: none;
  }
}

/* Bubble entrance animation */

.scale-in-tr {
  position: fixed;
  -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation: scale-in-tr 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-31 9:45:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-tr
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

/* List Item style */

.link-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.link-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Intro Background */

.intro-bg {
  background: url("./assets/ooorganize.svg"),
    linear-gradient(to bottom right, black, #252422);
  background-size: cover;
}

/* Header Background */

.header-bg {
  background: url("./assets/noise_background.png"),
    linear-gradient(to top right, black, #252422);
  box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.5);
}

/* GLowing Effect */

.glowing-card {
  background: var(--clr-1);
  border-radius: 0.5rem;
  position: relative;
}

.glowing-card::before,
.glowing-card::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.glowing-card::after {
  filter: blur(1.5rem);
}

@keyframes rotation {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
